.filtersNb {
  font-size: 0.6rem;
}

.filterButton {
  min-height: 2rem;
}

.biggerShadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* .reducedWidthFilters {
  width: calc(100% - 3.3rem);
} */

.resetFilterButton {
  min-height: 2rem;
}

.blurTransition {
  -webkit-transition: -webkit-filter 150ms linear;
}

.filterButton {
  padding: 0.7rem;
}

@media all and (max-width: 374px) {
  .crossButton {
    display: none;
  }
}
